footer {
    position: sticky;
    width: 100%;
    bottom: 0;
    display: flex;
    flex: initial;
    justify-content: space-between;
    border-top: 5px solid #34393A;
}

footer button {
    padding: 10px 25px;
    text-align: center;
}
#delete-completed-btn {
    border-right: 5px solid #34393A;
}

#show-incomplete-all-btn {
    border-left: 5px solid #34393A;
}