footer {
    display: flex;
    flex: initial;
    justify-content: space-between;
    border-top: 5px solid #3F494B;
}

footer div {
    padding: 10px 25px;
    text-align: center;
}
#delete-completed-btn {
    border-right: 5px solid #3F494B;
}

#show-incomplete-all-btn {
    border-left: 5px solid #3F494B;
}