header {
    flex: initial;
    text-align: center;
}

header h1 {
    margin-block-start: 10px;
    margin-block-end: 10px;
    font-variant: small-caps;
    color: #86BDA8;
}

#header-triangle {
    font-size: 0.65em;
}