/* main body */
@font-face {
  font-family: 'Open Sans';
  src: local('Open Sans'), url(./fonts/OpenSans-Regular.ttf) format('truetype');
}

html {
  height: 100%;
}

#root {
  height: inherit;
}

body {
  height: inherit;
  background-color: #252627;
  width: 100%;
  margin: 0;
}
button {
  background-color: inherit;
  border: 0;
  font-size: inherit;
  font-family: inherit;
  color: white;
  margin: 0;
  padding: 0;
  text-transform: inherit;
}