#task-list li {
    border: 2px solid #3F494B;
    padding: 5px;
}

#task-list {
    width: 100%;
}

#task-list li label {
    display: flex;
    align-items: center;
}

.task-row {
    display: flex;
    justify-content: space-between;
}

.priority-label {
    display: flex;
    align-items: center;
    font-variant: small-caps;
    font-size: 1.75rem;

}

.priority-select{
    display: flex;
    justify-content: space-around;
}


.priority-box {
    margin: 0.75rem 0 0.25rem;
    flex-shrink: 0;
    flex-grow: 0;
    height: 25px;
    width: 25px;
    background-color: #86BDA8;
    border: 7px solid #86BDA8;
}

.priority-box:after {
    content: "";
    position: relative;
    display: none;
    display: block;
    left: 5px;
    top: -3px;
    width: 8px;
    height: 20px;
    border: solid #34393A;
    border-width: 0 7px 7px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.priority-1 {
    -webkit-filter: saturate(10%); /* Safari 6.0 - 9.0 */
    filter: saturate(10%);
}

.priority-3 {
    -webkit-filter: saturate(250%); /* Safari 6.0 - 9.0 */
    filter: saturate(250%);
}

.edit-delete {
    display: flex;
    align-items: center;
    margin: 0 5px;
}

.edit-delete img {
    margin: 0 5px;
}

textarea {
    background-color: #3F494B;
    color: white;
    font-size: 20px;
    padding-left: 5px;
    font-family: "Open Sans", sans-serif;
    width: 100%;
}

label {
    overflow: hidden;
    width: 100%;
}

/* ADAPTED FROM https://www.w3schools.com/howto/howto_css_custom_checkbox.asp*/

input[type=checkbox] {
    visibility: hidden;
    width: 0;
}

.checkbox {
    flex-shrink: 0;
    flex-grow: 0;
    height: 25px;
    width: 25px;
    background-color: #34393A;
    margin-right: 25px;
    border: 7px solid #86BDA8;
}

label input:checked ~ .checkbox {
    background-color: #86BDA8;
}

.checkbox:after {
    content: "";
    position: relative;
    display: none;
}

label input:checked ~.checkbox:after {
    display: block;
}

label .checkbox:after {
    left: 5px;
    top: -3px;
    width: 8px;
    height: 20px;
    border: solid #34393A;
    border-width: 0 7px 7px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}