/* task list */

#task-list-area {
    flex: auto;
    display: flex;
    overflow-y: scroll;
}
#empty-list-text {
    text-align: center;
    align-self: center;
    width:100%;
}

#task-list-area ul {
    list-style-type: none;
    padding-inline-start: 0px;
    margin-block-start: 0px;
    margin-block-end: 0px;
}